.m-modal{
  position: relative;
  margin: auto;
  padding: 20px 25px;
  max-width: 555px;
  background: #fff;

  @include media(sm){
    padding: 60px 65px;
  }
}

.m-modal_close{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: #bababa;
  font-size: 14px;
  line-height: 1;
  opacity: 1;
  transition: .3s color ease;

  @include media(sm){
    padding: 20px;
    font-size: 15px;
  }

  &:hover{
    color: color(black);
  }
}
