@charset 'UTF-8';

html {
  min-height: 100%;
}

body {
  font-family: tahoma, arial, verdana, sans-serif;
  font-size: 14px;
  min-height: 100%;
}

.tab-pane {
  position: absolute;
  left: -99999px;
  opacity: 0;

  &.active {
    position: static;
    display: block;
    opacity: 1;
  }
}
