body {
  -webkit-overflow-scrolling: touch;

  min-width: 320px;
  min-height: 100%;

  font-size: 100%;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
}
