.e-nowrap {
  white-space: nowrap;
}

.e-talign-left {
  text-align: left;
}

.e-talign-center {
  text-align: center;
}

.e-talign-right {
  text-align: right;
}

.e-fw-light {
  font-weight: 300;
}

.e-fw-normal {
  font-weight: normal;
}

.e-fw-bold {
  font-weight: bold;
}

.e-pull-left {
  float: left;
}
