@font-face {
  font-family: "icons";
  src: url('fonts/icons/icons.eot');
  src: url('fonts/icons/icons.eot?#iefix') format('eot'),
      url('fonts/icons/icons.woff2') format('woff2'),
      url('fonts/icons/icons.woff') format('woff'),
      url('fonts/icons/icons.ttf') format('truetype'),
      url('fonts/icons/icons.svg#icons') format('svg');
}

@mixin icon-reset-styles {
  font-family: "icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-reset-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == 74saity74 {
    $char: "\E001";
  }
  @if $filename == cross {
    $char: "\E002";
  }
  @if $filename == logo-74 {
    $char: "\E003";
  }
  @if $filename == logo-saity {
    $char: "\E004";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-reset-styles;
    }
    content: icon-char($filename);
  }
}

.i-74saity74 {
  @include icon(74saity74);
}
.i-cross {
  @include icon(cross);
}
.i-logo-74 {
  @include icon(logo-74);
}
.i-logo-saity {
  @include icon(logo-saity);
}
