@charset "UTF-8";

$em-base: 16px !default;

$color-stack:
    (group: base, id: normal, color: #fff),
    (group: base, id: hover, color: #efefef);

$media-stack:
  (group: md, id: general, rule: "only screen and (min-width: 998px)"),
  (group: lg, id: general, rule: "only screen and (min-width: 1200px)"),
  (group: print, id: general, rule: "only print"),
  (group: custom, id: screen, rule: "only screen and");
