{
  "extends": "airbnb/base",
  "rules": {
    "no-console": 0,
    "arrow-body-style": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": true,
        "peerDependencies": true
      }
    ]
  }
}
